html {
  font-size: 62.5%;
  background-color: rgb(176, 241, 176);
}
nav {
  background-color: green;
  margin: none;
  padding: 1rem 0.5rem;
}
#clickarea {
  background-image: url(/DOLLAR\SIGN.PNG);
  background-size: 100%;
}
h1 {
  color: white;
  text-align: center;
  font-size: 5rem;
  font-style: italic;
  font-family: "Old English Text MT";
  text-shadow: 5px 5px 3px black;
}
h3 {
  font-size: 2.5rem;
}
div {
  text-align: center;
  font-size: 1.5rem;
}
#store {
  text-align: center;
  font-size: 1.5rem;
}
button {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
#saveload {
  text-align: right;
}
